

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    Header{
          display: none;
    }
    
    .mobile-content{
        background-color: blue;
    }

    .large-content{
        display: none;
    }
}

@media only screen  and (min-width : 1224px) {
    

    .mobile-content{
        display: none;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    Header{
        display: none;
    }
  
    .large-content{
      display: none;
    }
}

    
